.facebook {
  background-color: #3c5a99;
}

.soundcloud {
  background-color: #ff3300;
}

.medium {
  background-color: #ffffff;

  .textButton {
    color: #0BE370;
  }
}

.twitter {
  background-color: #55ACEE;
}
