$facebook-color: #3c5a99;
$soundcloud-color: #ff3300;
$medium-color: #ffffff;
$twitter-color: #55ACEE;

@mixin background-color-and-darken-hover($background-color) {
  background-color: $background-color;
  &:hover {
    background-color: darken( $background-color, 10% );
  }
}

.facebook {
  @include background-color-and-darken-hover($facebook-color);
}

.soundcloud {
  @include background-color-and-darken-hover($soundcloud-color);
}

.medium {
  @include background-color-and-darken-hover($medium-color);

  .textButton {
    color: #0BE370;
  }
}

.twitter {
  @include background-color-and-darken-hover($twitter-color);
}
