.user-photo {
  width: 150px;
  /*border: 2px solid black;*/
  border-radius: 100%;
}

.user-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 29px;
}

.Button {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 5px;
}

.logoContainer {
  display: flex;
  height: 100%;
  width: 80px;
}

.textButton {
  color: white;
}

.logoButton {
  margin: auto;
}

.logoButton {
  max-width: 30px;
  max-width: 30px
}
