@import 'components';
@import 'buttons';

.container-fluid {
  display: flex;
  height: 100vh;
  background: url("images/backgrounds/road1/road1_2000px.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: Ubuntu, Helvetica, sans-serif;
}

@media only screen and (max-width: 500px) {
    .content {
        background-color: transparent;
        margin: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    .content {
      min-width: 320px;
      max-width: 600px;
      margin: auto;
      border-radius: 15px;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.20);
    }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.banner{
    bottom: 0;
    left: 0;
    right: 0;
    background: #238E32;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    position: fixed;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}
